<div class="wrapper " align="center">
        <app-slide [speed]="1000" [infinite]="true" [fade]="false"> 
                <app-slide-item>
                    <iframe class="active" frameborder="0" id="motd-iframe-1" src="http://api.gmgamingsystems.com.dev.labenv/api/v1.0/ContentParser/20180116132511_QACampainTest43116/template_EN%2Ehtml?culturecode=en-US&amp;brandcode=BWL&amp;accountid=92d38dd2-2bca-4ee3-ab79-259cad0fa55e&amp;languagecode=EN&amp;motdid=80b0b06e-8ef8-4597-bba8-73755d59558c&amp;IsMobile=False"></iframe>                                        
                </app-slide-item>
                <app-slide-item>
                    <iframe class="active" frameborder="0" id="motd-iframe-2" src="http://api.gmgamingsystems.com.dev.labenv/api/v1.0/ContentParser/20180313144002_BWL_QA_Test_Default/template_EN%2Ehtml?culturecode=en-US&amp;brandcode=BWL&amp;accountid=92d38dd2-2bca-4ee3-ab79-259cad0fa55e&amp;languagecode=EN&amp;motdid=da3dd917-a0f1-416c-ab54-0769665b70f8&amp;IsMobile=False"></iframe>                                        
                </app-slide-item> 
                <app-slide-item>
                    <iframe class="active" frameborder="0" id="motd-iframe-3" src="http://api.gmgamingsystems.com.dev.labenv/api/v1.0/ContentParser/20180313144002_BWL_QA_Test_Default/template_EN%2Ehtml?culturecode=en-US&amp;brandcode=BWL&amp;accountid=92d38dd2-2bca-4ee3-ab79-259cad0fa55e&amp;languagecode=EN&amp;motdid=da3dd917-a0f1-416c-ab54-0769665b70f8&amp;IsMobile=False"></iframe>                                        
                </app-slide-item>
            </app-slide>
</div>