<div class="wrapper " align="center">
    <app-slide _ngcontent-c3="" _nghost-c13="" ng-reflect-speed="1000" ng-reflect-infinite="true" ng-reflect-fade="false" class="ng-star-inserted" style="height: 300px; width: 100%;">
        <div _ngcontent-c13="">
            <app-slide-item _ngcontent-c3="" appsliderhandler="" class="slider-li display-block fade-in ng-star-inserted" _nghost-c14="" ng-reflect-klass="slider-li display-block fade-i" ng-reflect-ng-class="" ng-reflect--motd-input-object="[object Object]">
            <div _ngcontent-c14="" appswiper="" class="slide-item fade" style="outline: none; transform: translate3d(3806px, 0px, 0px); transition: transform 0.5s;" tabindex="-1" ng-reflect-ng-style="[object Object]">
><span _ngcontent-c3="" class="ng-star-inserted">
                            <iframe _ngcontent-c3="" frameborder="0" id="motd-iframe-0" src="http://api.gmgamingsystems.com.dev.labenv/api/v1.0/ContentParser/20180313144002_BWL_QA_Test_Default/template_EN%2Ehtml?culturecode=en-US&amp;brandcode=BWL&amp;accountid=92d38dd2-2bca-4ee3-ab79-259cad0fa55e&amp;languagecode=EN&amp;motdid=da3dd917-a0f1-416c-ab54-0769665b70f8&amp;IsMobile=False"></iframe>
                        </span>
                    
            </div>
       </app-slide-item><app-slide-item _ngcontent-c3="" appsliderhandler="" class="slider-li display-block fade-in ng-star-inserted" _nghost-c14="" ng-reflect-klass="slider-li display-block fade-i" ng-reflect-ng-class="" ng-reflect--motd-input-object="[object Object]">
            <div _ngcontent-c14="" appswiper="" class="slide-item fade" style="outline: none; transform: translate3d(5709px, 0px, 0px); transition: transform 0.5s;" tabindex="-1" ng-reflect-ng-style="[object Object]">
<span _ngcontent-c3="" class="ng-star-inserted">
                            <iframe _ngcontent-c3="" frameborder="0" id="motd-iframe-1" src="http://api.gmgamingsystems.com.dev.labenv/api/v1.0/ContentParser/20180111150420_VDV_Brand_Test_One/template_EN%2Ehtml?culturecode=en-US&amp;brandcode=BWL&amp;accountid=92d38dd2-2bca-4ee3-ab79-259cad0fa55e&amp;languagecode=EN&amp;motdid=f89d24c5-421e-4d5d-8f60-9754733524af&amp;IsMobile=False"></iframe>
                        </span>
                    
            </div>
       </app-slide-item><app-slide-item _ngcontent-c3="" appsliderhandler="" class="slider-li display-block fade-in ng-star-inserted" _nghost-c14="" ng-reflect-klass="slider-li display-block fade-i" ng-reflect-ng-class="" ng-reflect--motd-input-object="[object Object]">
            <div _ngcontent-c14="" appswiper="" class="slide-item fade" style="outline: none; transform: translate3d(7612px, 0px, 0px); transition: transform 0.5s;" tabindex="-1" ng-reflect-ng-style="[object Object]">
   <span _ngcontent-c3="" class="ng-star-inserted">
                            <iframe _ngcontent-c3="" frameborder="0" id="motd-iframe-2" src="http://api.gmgamingsystems.com.dev.labenv/api/v1.0/ContentParser/20180116074057_VDV_Motd_Test/template_EN%2Ehtml?culturecode=en-US&amp;brandcode=BWL&amp;accountid=92d38dd2-2bca-4ee3-ab79-259cad0fa55e&amp;languagecode=EN&amp;motdid=847d18b7-2e11-4b57-b109-8bae77ade604&amp;IsMobile=False"></iframe>
                        </span>
                    
            </div>
       </app-slide-item><app-slide-item _ngcontent-c3="" appsliderhandler="" class="slider-li display-block fade-in ng-star-inserted" _nghost-c14="" ng-reflect-klass="slider-li display-block fade-i" ng-reflect-ng-class="" ng-reflect--motd-input-object="[object Object]">
            <div _ngcontent-c14="" appswiper="" class="slide-item fade" style="outline: none; transform: translate3d(-1903px, 0px, 0px); transition: transform 0.5s;" tabindex="-1" ng-reflect-ng-style="[object Object]">
<span _ngcontent-c3="" class="ng-star-inserted">
                            <iframe _ngcontent-c3="" frameborder="0" id="motd-iframe-3" src="http://api.gmgamingsystems.com.dev.labenv/api/v1.0/ContentParser/20180118080541_New_MOTD_0118/template_EN%2Ehtml?culturecode=en-US&amp;brandcode=BWL&amp;accountid=92d38dd2-2bca-4ee3-ab79-259cad0fa55e&amp;languagecode=EN&amp;motdid=533cb317-8c6e-4eb6-840b-a642859d4d4d&amp;IsMobile=False"></iframe>
                        </span>
                    
            </div>
       </app-slide-item><app-slide-item _ngcontent-c3="" appsliderhandler="" class="slider-li display-block fade-in ng-star-inserted" _nghost-c14="" ng-reflect-klass="slider-li display-block fade-i" ng-reflect-ng-class="" ng-reflect--motd-input-object="[object Object]">
            <div _ngcontent-c14="" appswiper="" class="slide-item fade" style="outline: none; transform: translate3d(0px, 0px, 0px); transition: transform 0.5s;" tabindex="-1" ng-reflect-ng-style="[object Object]">
              <span _ngcontent-c3="" class="ng-star-inserted">
                            <iframe _ngcontent-c3="" frameborder="0" id="motd-iframe-4" src="http://api.gmgamingsystems.com.dev.labenv/api/v1.0/ContentParser/20180124101011_QACampainTest43117/template_EN%2Ehtml?culturecode=en-US&amp;brandcode=BWL&amp;accountid=92d38dd2-2bca-4ee3-ab79-259cad0fa55e&amp;languagecode=EN&amp;motdid=c94854ee-e88d-4054-b5b2-1445978d52fa&amp;IsMobile=False"></iframe>
                        </span>
                    
            </div>
       </app-slide-item><app-slide-item _ngcontent-c3="" appsliderhandler="" class="slider-li display-block fade-in ng-star-inserted active" _nghost-c14="" ng-reflect-klass="slider-li display-block fade-i" ng-reflect-ng-class="active" ng-reflect--motd-input-object="[object Object]">
            <div _ngcontent-c14="" appswiper="" class="slide-item fade" style="outline: none; transform: translate3d(1903px, 0px, 0px); transition: transform 0.5s;" tabindex="-1" ng-reflect-ng-style="[object Object]">
              <span _ngcontent-c3="" class="ng-star-inserted">
                            <iframe _ngcontent-c3="" frameborder="0" id="motd-iframe-5" src="http://api.gmgamingsystems.com.dev.labenv/api/v1.0/ContentParser/20180116132511_QACampainTest43116/template_EN%2Ehtml?culturecode=en-US&amp;brandcode=BWL&amp;accountid=92d38dd2-2bca-4ee3-ab79-259cad0fa55e&amp;languagecode=EN&amp;motdid=80b0b06e-8ef8-4597-bba8-73755d59558c&amp;IsMobile=False"></iframe>
                        </span>
                    
            </div>
       </app-slide-item>
        
        </div>
        </app-slide>
</div>